.shop {
    color: white;
    margin-top: 50px;
}

.item_photo h4  {
    font-size: 90%;
    margin-bottom: 20px;
    color: white;
    transform: scale(1);
    transition: transform 0.9s, opacity 0.5s;
}

.item_photo h6  {
    font-size: 90%;
    margin-bottom: 20px;
    color: white;
    transform: scale(1);
    transition: transform 0.9s, opacity 0.5s;
}

/* -------- Item Photo ----------- */
.item_photo{
  text-align: center;
}

.item_photo img {
    opacity: 0.9;
    width: 65%;
    height: auto;
    margin-bottom: 20px;
    transform: scale(1.05);
    transition: transform 0.9s, opacity 0.5s;
}

.item_photo img:hover {
    opacity: 1.2;
    transform: scale(1.18);
}

.coin {
    vertical-align: middle;
    color: white;
    font-size: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
  
.coin img {
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .coin p {
    margin-top: 10px;
    font-size: 90%;
    margin-right: 5px;
  }


.btn_purchase,
.btn_purchase:visited {
    background-color: #111;
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    border: 1px solid #808080;
    color: white;
    cursor: pointer;
}

.btn_purchase:hover,
.btn_purchase:active {
    background-color: #fff;
    border: 1px solid #111;
    color: #111;
}

.plus_sign {
    vertical-align: middle;
    margin-left: 10px;
    height: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.9s, opacity 0.5s;
}

.plus_sign:hover {
    transform: scale(1.3);
}

