ul, li {
	padding:0;
	margin:0;
	list-style:none;
}

.empty {
	height: 100px;
}

.clear {
	clear:left;
}

.half { width: 220px }

.left { float: left }
.right { float: right }

#lobby_wrapper {
	width: 1140px;
	margin: 0 auto
}

#lobby_sidebar {
	float: right;
	width: 200px;
	padding-left: 20px;
	background:	url(../media/lobby/lobby_sidebar.png) center left no-repeat
}

#lobby_leftsidebar {
	float: left;
	width: 350px;
	padding-left: 40px;
	background:	url(../media/lobby/lobby_sidebar.png) center right no-repeat
}

#lobby_main {
	float: left;
	margin-left: 25px;
	width: 560px;
	height: 540px;
}

/* scroll bar gotten from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2 */
/* width */
::-webkit-scrollbar {
	background: black; 
	width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: white; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: gray; 
  }
/* ------------------------------------------------------- */

#game_room li {
	float: left;
	width: 150px;
	height: 150px;
	background: none;
	margin: 15px 15px 15px 15px;
	text-align: center;
	color: white;
	background: url(../media/lobby/gameSessionBackground.png);
	transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
}

#game_room li:hover {
	opacity: 1;
    transform: scale(1.13);
}
#game_room li.no_margin_right { margin-right: 0 }

.join_btn,
.join_btn:visited {
		background-color: #111;
		margin-top: 80px;
		font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    border: 1px solid #808080;
    color: white;
    cursor: pointer;
}

.join_btn:hover,
.join_btn:active {
    background-color: #fff;
    border: 1px solid #111;
    color: #111;
}